<div class="containder">

	<div class="row col-xs-offset-1">

		<h2>User info</h2>
		<%= form_for(@user) do |f| %>
		<p>Name</p>
			<%= f.text_field :name %>
			<P>Image</P>
			<%= f.attachment_field :profile_image %>
			<p>Introduction</p>
			<%= f.text_area :introduction %>
			<%= f.submit 'Update User' %>
		<% end %>

	</div>
</div>