<body>

  <div class="body">
    <div class="containder">

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div class="row col-xs-offset-1">

        <div class="col-xs-3">
          <!--user_profileここから-->
          <h2>User info</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <%= attachment_image_tag @user, :profile_image, :fill,70, 70, format: 'jpeg' %>
                  </th>
                  <th colspan></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <th><%= @user.name %></th>
                </tr>
                <tr>
                  <th>Introduction</th>
                  <th><%= @user.introduction %></th>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <%= link_to sanitize('<i class="glyphicon glyphicon-wrench"></i>'), edit_user_path(current_user.id), class: "btn btn-default col-xs-12" %>
            </div>
          <!--User_profileここまで-->
          <!--投稿フォームここから-->
          <div class="filed row">
            <h2>New books</h2>

            <%= form_with model: @user.books, url: books_path, local: true do |form| %>


              <h4>Title</h4>
              <%= form.text_field :title, class:"col-xs-12 mb-5" %>
              <h4>Opinion</h4>
              <%= form.text_area :body, class:"col-xs-12 m-10" %>
              <%= form.submit "Create Book", class:"btn btn-primary col-xs-12 my-5" %>
            <% end %>
            <!--投稿フォームここまで-->
          </div>
        </div>

        <div class="table-responsive col-xs-8">
          <h2>Books</h2>
          <table class="table">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th colspan="1"></th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tbody>
                <tr>
                  <th>
                      <%= attachment_image_tag user,:profile_image, :fill, 30, 30, format: 'jpeg'  %>
                  </th>
                  <th>
                      <%= user.name %>
                  </th>
                  <th>
                    <%= link_to "Show", user_path(user.id) %>
                  </th>
                </tr>
              </tbody>
            <% end %>

          </table>
        </div>

      </div>

    </div>
  </div>

</body>