<body>

  <div class="body">
  	<div class="container">

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

  		<div class="row col-xs-offset-1">

        <div class="col-xs-3">
          <!--user_profileここから-->
          <h2>User info</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <%= attachment_image_tag @user, :profile_image, :fill,70, 70, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                  </th>
                  <th colspan></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <th><%= @user.name %></th>
                </tr>
                <tr>
                  <th>Introduction</th>
                  <th><%= @user.introduction %></th>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <%= link_to sanitize('<i class="glyphicon glyphicon-wrench"></i>'), edit_user_path(@user), class: "btn btn-default col-xs-10 col-xs-offset-1" %>
            </div>
          <!--User_profileここまで-->
          <!--投稿フォームここから-->

          <div class="filed row">
            <h2>New books</h2>

            <%= form_with model: @user.books, url: books_path, local: true do |form| %>


              <h4>Title</h4>
              <%= form.text_field :title, class:"col-xs-12 mb-5" %>
              <h4>Opinion</h4>
              <%= form.text_area :body, class:"col-xs-12 m-10" %>
              <%= form.submit "Create Book", class:"btn btn-primary col-xs-12 my-5" %>
            <% end %>
            <!--投稿フォームここまで-->
          </div>
        </div>

  			<div class="col-xs-9">
  		    <h2>Books</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="1"></th>
                <th>Title</th>
                <th>Opinion</th>
              </tr>
            </thead>
            <% @book.each do |book| %>
              <tbody>
                <tr>
                  <th>
                    <%= link_to user_path(book.user.id) do %>
                      <%= attachment_image_tag book.user,:profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg"  %>
                    <% end %>
                  </th>
                  <th>
                    <%= link_to book_path(book.id) do %>
                      <%= book.title %>
                    <% end %>
                  </th>
                  <th><%= book.body %></th>
                </tr>
              </tbody>
            <% end %>

          </table>
  			</div>

  		</div>

    </div>
  </div>

</body>