<body>

  <div class="body">
  	<div class="container">
  		<% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

  		<div class="row col-xs-offset-1">

          <div class="col-xs-3">
          <!--user_profileここから-->
          <h2>User info</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <%= attachment_image_tag @book.user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                  </th>
                  <th colspan></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <th><%= @book.user.name %></th>
                </tr>
                <tr>
                  <th>Introduction</th>
                  <th><%= @book.user.introduction %></th>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <%= link_to sanitize('<i class="glyphicon glyphicon-wrench"></i>'), edit_user_path(current_user.id), class: "btn btn-default col-xs-12" %>
            </div>
          <!--User_profileここまで-->
          <!--投稿フォームここから-->

            <h2>New books</h2>

            <%= form_with model: current_user.books, url: books_path, method: :post, local: true do |form| %>

              <h4>Title</h4>
              <div class="row col-xs-12">
                <%= form.text_field :title %>
              </div>
              <h4>Opinion</h4>
              <div class="row col-xs-12">
                <%= form.text_area :body %>
              </div>
                <%= form.submit "Create Book", class:"btn btn-primary col-xs-12" %>
            <% end %>
            <!--投稿フォームここまで-->
        </div>

  			<div class="table-hover col-xs-9">
  				<h2>Book detail</h2>
          <table class="table">
            <tr>
              <th>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg' %>
                <br>
                <%= link_to user_path(@book.user.id) do %>
                  <%= @book.user.name %>
                <% end %>
              </th>
              <th>
                <%= link_to book_path(@book.id) do %>
                  <%= @book.title %>
                <% end %>
              </th>
              <th><%= @book.body %></th>

              <% if current_user.id == @book.user_id %>

                <th><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %></th>
                <th><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-danger", "data-confirm" => "Are you sure?" %></th>

              <% end %>

              <!--いいね/コメント機能-->
                  <th>
                    <% if @book.favorited_by?(current_user) %>
                      <li>
                        <%= link_to book_favorites_path(@book.id), method: :delete do %>
                          <i class="fa fa-heart", aria-hidden="true" style="color: red;"></i>
                          <%= @book.favorites.count %>
                        <% end %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to book_favorites_path(@book.id), method: :post do %>
                          <i class="fa fa-heart-o", aria-hidden="true"></i>
                          <%= @book.favorites.count %>
                        <% end %>
                      </li>
                    <% end %>
                  </th>
                  <th>コメント数：</th>
                  <!--いいね機能最後尾-->

            </tr>
          </table>
  			</div>
  		</div>
	</div>
  </div>
</body>